# Nillion Cluster Configuration
NEXT_PUBLIC_NILLION_CLUSTER_ID=your-cluster-id
NEXT_PUBLIC_NILLION_BOOTNODE_WEBSOCKET=wss://your-bootnode-websocket
NEXT_PUBLIC_NILLION_NILCHAIN_JSON_RPC=https://your-nilchain-json-rpc
NILLION_NILCHAIN_PRIVATE_KEY=your-nilchain-private-key